@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

@font-face {
    font-family: "newtitle";
    src: url(/fonts/NewTitle_Complete/Fonts/OTF/NewTitle-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;

}

.logo {
    font-family: "newtitle";
    color: #fff;
    font-size: 4rem;
    font-weight: 300;
}

.container1 {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    font-size: 30px;
    border-bottom: 2px solid white;
    margin: 10vh;
    margin-top: 0;


}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 4rem ;
    justify-items: center;
}

.wrap {
    display: flex;
    padding-top: 2rem;
    min-width: 250px;
    gap: 2rem;
    justify-content: space-between;
}

button {
    background-color: #9082f7;
    border-radius: 8px;
    height: 7dvh;
    width: 12dvw;
    font-family: "Martian Mono", monospace;
}

button:hover {
    cursor: pointer;
    background-color: aliceblue;
}


.logo1 {

    font-size: 5rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 45%;
   font-family: "newtitle";
    color: #9082f7;


}


#left h3 {
    color: #9082f7;

    font-family: "newtitle";
    font-size: 5rem;



}

#left p {
    color: #fff;
   
    font-size: 1.1rem;
    font-weight: 400;
   line-height: 2rem;
    font-family: "Martian Mono",monospace;
   
}


#center {

    align-items: center;


}

#center img {
    height: 250px;
    width: 250px;

}


#right h3 {
    color: #9082f7;
    line-height: 15vh;
    font-family: "newtitle";
    font-size: 5rem;
}
.all{
    font-family: "Martian Mono",monospace;
    color: #9082f7;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
}
#sm{
    color: #9082f7;
}
#right h2 {
    line-height: 10vh;
    font-family: "Martian Mono",monospace;
    color:rgb(248, 216, 177);
    font-size: 1rem;
}
#right p{
    color:white;
    font-family: "Martian Mono",monospace;
}

.pd-right button img {
    height: 15px;
    margin-right: 10px;
    background: white;
}

.pd-right button:first-child {
    background: white;
}

.layer1{
    display: flex;
    color: aliceblue;
    justify-content: space-around;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-radius: 2px;
    padding: 15vh 5vh;
    margin: 10vh;
    margin-bottom: 2rem;
}

.head{
    font-family: "newtitle";
    font-size: 4rem;
    color: #9082f7;
}

.links{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    font-size: 1rem;
    font-family: "Martian Mono", monospace;
    line-height: 2rem;
}

a{
    color: aliceblue;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #9082f7;
    border-radius: 10px;
}

.pd-right button {
    background: #ffffff;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    padding-right: 700px;
}

.pd-right button {
    background: rgb(255, 255, 255);
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}

.pd-right button img1 {
    height: 15px;
    margin-right: 10px;
}

.pd-right button:first-child {
    background: white;


}
.q {
    align-items: center;
    padding-right: 170px;
}