@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@font-face {
    font-family: "newtitle";
    src: url(/fonts/NewTitle_Complete/Fonts/OTF/NewTitle-Regular.otf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: black;
}
::-webkit-scrollbar-thumb{
    background-color: #9082f7;
    border-radius: 10px;
}
.logo {
  font-family: "newtitle";
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
  cursor: pointer;
}
.container1{
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    font-size: 30px;
    padding-top: 1rem;
}

.p{
    width: 6.6dvw;
    height: 6.6dvh;
    cursor: pointer;
}
.wrap{
    display: flex;
    padding-top: 8px;
    min-width: 240px;
    justify-content: space-between;
}

button{
    background-color: #9082f7;
    border-radius: 8px;
    height: 7dvh;
    width: 12dvw;
    font-family: "Martian Mono", monospace;
}

button:hover{
    cursor: pointer;
    background-color: aliceblue;
}
.logos{
    width: 20vw;    
    background-color: transparent;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,minmax(10vw,auto));
}
.logo-float{
    grid-area: 2/1/3/4;
    text-align: center;
    align-content: center;
    letter-spacing: 2rem;
    font-weight: 600;
    font-family: "newtitle";
    color: #fff;
    font-size: 20rem; 
    position: relative;
    bottom: 7.5rem;
}
.purple{
    position: absolute;
    max-width: 99dvw;
    height: 60dvh;   
}

#vid{
    max-inline-size: 100dvw;
    max-width: 99dvw;
    max-height: 57dvh;
}
.white{
    background-color: #000;
    mix-blend-mode: multiply;
    width: 99dvw;
}
#html{
    grid-area: 1/3/2/4;
    position: relative;
    width: 12vw;
    top: 30px;
    z-index: 2;
    background-color: transparent;
}

#github{
    grid-area: 3/1/4/2;
    position: relative;
    left: 3.5rem;
    bottom: 12rem;
    z-index: 2;
    background-color: transparent;
}

#css{
    position: relative;
    max-inline-size: 20vw;
    grid-area: 3/3/4/4;
    left: 120px;
    z-index: 2;
    background-color: transparent;  
    max-inline-size: 100%;
    width: 15vw;
}

.info{
    grid-area: 3/1/4/4;
    text-align: center;
    font-family: "Martian Mono", monospace;
    font-size: 1.1rem;
    position: relative;
    bottom: 5rem;
}

.slogan{
    color: #9082f7;
}

.animation{
    animation: bouncing 3.5s ease-in-out infinite;
}
.animation-delay{
    animation-delay: 2.5s;
}
@keyframes bouncing{
    0%{
        transform: translateY(-10px);
    }   
    50%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(-10px); 
    }
}
.animation2{
    animation: zig-zag 3.5s ease-in-out infinite;
}
@keyframes zig-zag{
    0%{
        transform: translateY(-10px);
    }   
    50%{
        transform: translate(-20px,-40px);
    }
    100%{
        transform: translateY(-10px); 
    }
}


.animation3{
    animation: zig-right 3.5s ease-in-out infinite;
}
@keyframes zig-right{
    0%{
        transform: translateY(-10px);
    }   
    50%{
        transform: translate(20px,-40px);
    }
    100%{
        transform: translateY(-10px); 
    }
}

.text{
    color: #9082f7;
    font-size: 8rem;
    font-family: "newtitle";
    padding-bottom: 40vh;
    display: flex;
    flex-direction: column;
}

.yt{
    color: #9082f7;
    font-size: 7rem;
    font-family: "newtitle";
    padding-left: 4rem;
    padding-bottom: 2rem;
    font-weight: 400; 
}
.cont3{
    padding:0 2.4rem;
}

.videos{
    color: #fff;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    row-gap: 2rem;
    column-gap: 1.5rem;
    min-width: 100%;
    padding-bottom: 8rem;
    max-inline-size: 90vw;
}

.smallc{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    transition-property:transform;
    transition-duration: 0.5s;
    padding: 1rem;
}

.smallc:hover{
    transform: translateY(-1rem); 
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 30px;
}
.thumb{
    width: 100%;
    border-radius: 30px;
    border: 1px solid rgb(89, 87, 87);
}

.inner{
    display: flex;
    flex-direction: column;
}

.time{
    font-family: "Martian Mono", monospace;
    font-size: 1.2rem;
    padding: 1rem 0;
    color: burlywood;
}

.title{
    font-family: "newtitle";
    color: #9082f7;
    font-size: 5rem;
    padding-top: 1vh;
}

.desc{
    font-family: "Martian Mono", monospace;
    padding-top: 1.5vh; 
}

.button2{
    text-align: center;
    padding-bottom: 6rem;  
}

.us{
    color: #9082f7;
    font-family: "newtitle";
    font-size: 12vh;
    padding: 5rem;
    font-weight: 700;
}

.aboutus{
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: span 3;
    justify-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 15vh;
    overflow: auto;
}

.profile{
    height: 20vh;
    border-radius: 50%;
}

.person{
    padding-top: 1rem;
    max-inline-size: 27vw;
    padding-bottom: 2rem;
}

.name{
    font-family: "newtitle";
    font-size: 5rem;
    color: #9082f7;
    font-weight: 100;
}

.role{
    font-family: "Martian Mono", monospace;
    color: burlywood;
    font-size: 1.5rem;
    padding:1rem 0;
}

.details{
    font-family: "Martian Mono", monospace;
    font-size: 0.8rem;
    color: aliceblue;
}

.inside{
    border-radius: 20px;
    padding: 10px;
    box-shadow: 4px 4px 25px  #282828 ,-4px -4px 25px  #5a5757 ;
}

.layer1{
    display: flex;
    color: aliceblue;
    justify-content: space-around;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-radius: 2px;
    padding: 15vh 5vh;
    margin: 10vh;
}

.head{
    font-family: "newtitle";
    font-size: 4rem;
    color: #9082f7;
}

.links{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    font-size: 1rem;
    font-family: "Martian Mono", monospace;
    line-height: 2rem;
}

a{
    color: aliceblue;
    text-decoration: none;
}

.txt1,.txt2{
    text-align: center;
}
.slide-right{
    animation: slide-right ease-in-out 1s 1;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes slide-right {
    from{
        transform: translateX(-100%);
    }    
    to{
        transform: translateX(center);
    }
}

.animation4{
    animation: pop-up ease-in-out 1s 1;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
    max-inline-size: 79vw;
}

@keyframes pop-up {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}



/* Responsive Media Queries */

/* Large Desktops and Wide Screens (min-width: 1200px) */
/* No changes needed as the default styles are already optimized for large screens */

/* Desktops and Laptops (min-width: 992px and max-width: 1199px) */
@media (max-width: 1440px) and (min-width: 1025px) {

    .logo-float {
        font-size: 19rem;
        bottom: 6rem;
    }

    .logos {
        width: 15vw;
    }

    .info {
        font-size: 1rem;
        bottom: 3rem;
    }

    .purple{
        position: absolute;
        width: 98dvw;
        height: 60dvh;   
        top: 0.1rem;
    }
    
    #vid{
        max-inline-size: 98dvw;
        width: 98dvw;
        max-height:60dvh;
    }

    .layer1 {
        flex-direction: row;
        padding: 10vh 3vh;
    }
}

/* Tablets (min-width: 768px and max-width: 991px) */
@media (max-width: 1024px) and (min-width: 800px) {
    .container1 {
        align-items: center;
        padding: 0 2rem;
        font-size: 2rem;
    }
    .nm{
        font-size: 18rem;
    }
    button{
        width: 8rem;
        height: 3rem;
    }
    .p{
        height: 2.5rem;
    }
    .purple{
        position: absolute;
        max-width: 98dvw;
        max-height: 60dvh;  
        top: 0.1rem; 
    }
    
    #vid{
        position: relative;
        max-inline-size: 98dvw;
        min-width: 98dvw;
        max-height:26.38dvh;
    }

    .wrap {
        align-items: center;
        min-width: 200px;
    }

    .wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, minmax(10vw, auto));
    }

    .logo-float {
        font-size: 10rem;
        bottom: 5rem;
    }

    .logos {
        width: 20vw;
        margin: 1rem 0;
    }

    .info {
        font-size: 0.9rem;
        bottom: 4rem;
    }

    .aboutus {
        grid-template-columns:1fr  1fr ;
        grid-column: span 2;
        margin-bottom: 10vh;
    }
    .person{
        max-inline-size: 40vw;
    }
    
    .layer1 {
        padding: 8vh 2vh;
    }

    .head {
        font-size: 2.5rem;
    }

    .links {
        font-size: 0.8rem;
        line-height: 1.6rem;
    }

    .text {
        animation: slide-right ease-in-out 1s 1;
        animation-timeline: view();
        animation-range: entry 0% cover 60%;
        font-size: 6rem;
        padding-bottom: 30vh;
    }

    .yt {
        font-size: 5rem;
        padding-left: 2rem;
        padding-bottom: 1rem;
    }

    .videos {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 2fr);
        max-inline-size: 100vw;
    }

    .smallc {
        max-inline-size: 80vw;
        margin: 1rem;
    }

    .us {
        font-size: 10vh;
        padding: 3rem;
    }
    .profile{
        height: 15dvh;
    }
    .animation4{
        animation: pop-up ease-in-out 1s 1;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
    }    
}

/* Mobile Phones (max-width: 767px) */
@media (max-width: 768px) and (min-width:350px){
    * {
        background-color: #000; /* Retain the background color */
    }

    .container1 {
        align-items: center;
        padding: 0 1rem;
        font-size: 18px;    
    }

    .wrap {
        align-items: center;
        min-width: 150px;
        padding-top: 5px;
    }

    button {
        width: 21vw;
        font-size: 0.6rem;
        height: 5vh;
        
    }
    .p{
        height:fit-content;
    }

    .wrapper {
        padding-top: 2.5rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, minmax(10vw, auto));
    }

    .logo-float {
        font-size: 8rem;
        bottom: 5rem;
        right: -1rem;
        letter-spacing: 1rem;
    }
    .purple{
        position: absolute;
        max-width: 98dvw;
        max-height: 60dvh;  
        top: 0.1rem; 
    }
    
    #vid{
        position: relative;
        max-inline-size: 98dvw;
        min-width: 98dvw;
        max-height:17.13dvh;
    }

    .logos {
        width: 25vw;
    }

    #html, #github, #css {
        width: 20vw;
        position: static;
        margin: 1rem 0;
    }

    .info {
        font-size: 0.7rem;
        bottom: 3rem;
        margin: 1rem 4rem;
    }

    .text {
        font-size: 3rem;
        padding-bottom: 20vh;
    }

    .yt {
        font-size: 4rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
    }

    .cont3 {
        padding: 0 1rem;
    }

    .videos {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 2fr);
        max-inline-size: 100vw;
    }

    .smallc {
        max-inline-size: 90vw;
        margin: 1rem 0;
    }

    .time {
        font-size: 1rem;
    }

    .title {
        font-size: 3rem;
    }

    .desc {
        font-size: 0.7rem;
    }

    .button2 {
        padding-bottom: 4rem;
    }

    .us {
        font-size: 8vh;
        padding: 2rem;
    }

    .aboutus {
        grid-template-columns:  1fr;
        grid-column: span 1;
        margin-bottom: 8vh;
    }

    .person {
        max-inline-size: 45vw;
        padding-bottom: 1rem;
    }

    .name {
        font-size: 3rem;
    }
    .profile{
        height: 10dvh;
    }

    .role {
        font-size: 1.2rem;
    }

    .details {
        font-size: 0.6rem;
    }

    .layer1 {
        flex-direction: column;
        padding: 5vh 2vh;
    }

    .head {
        font-size: 2rem;
    }

    .links {
        font-size: 0.7rem;
        line-height: 1.4rem;
    }

    .slide-right {
        animation: slide-right ease-in-out 1s 1 forwards;
    }

    .animation4 {
        animation: pop-up ease-in-out 1s 1;
        animation-timeline: view();
        animation-range: entry 0% cover 20%;
    }
}

button {
    padding: 0.5rem 1rem;
}
