@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
  font-family: "Bigwhale";
  src: url(/login/assets/Bigwhale.otf);
}
@font-face {
  font-family: "googlesans";
  src: url(/login/assets/google-sans-webfont/ProductSans-Regular.woff);
}
*{
    margin: 0%;
    padding: 0%;
}
.vcontainer{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#bg-video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.cy{
  display: flex;
}

#codify{
    font-family: "Bigwhale";
    font-weight: 900;
    font-size: 10vh;
    color: #f8f8ff;
    text-align: center;
}
.login-container{
    display: flex;
    padding: 20vh;
    align-items: center;
    justify-content: space-around;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f8f8ff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .form button {
    align-self: flex-end;
  }
  
  .flex-column > label {
    color: #151717;
    font-weight: 600;
  }
  
  .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
  }
  #togglebtn{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    background-image: url(/login/assets/eye-open-svgrepo-com.svg);
    background-color: transparent;
    color: black;
    background-size: 28px;
    border: transparent;
    background-repeat: no-repeat;
  }
  .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
  }
  
  .input:focus {
    outline: none;
  }
  
  .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
.google{
  text-align: center;
  max-inline-size: 90rem;
}

input#google-btn{
  height: 3.5rem;
  width: 100%;
  max-width: 27rem;
  background-color: white;
  color: black;
  border: #151717 solid 2px;
  font-size: 16px;
  font-family: "googlesans";
  font-weight: 900;
  border-radius: 10px;
  cursor: pointer;
  background-image: url(/login/assets/icons8-google-logo.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 30px;
}
#google-btn:hover{
  background-color: lightgray;
}
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  
  .button-submit:hover {
    background-color: #252727;
  }
  
  .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }
  

  
  .btn:hover {
    border: 1px solid #2d79f3;
    ;
  }


  .overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target{
    visibility: visible;
    opacity: 1;
  }
  .popup{
    position: relative;
  }

.form2-box {
  max-width: 300px;
  background: #f1f7fe;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  font-weight: bold;
  font-size: 1.6rem;
}

.subtitle {
  font-size: 1rem;
  color: #666;
}

.form2-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #f8f8ff;
  margin: 1rem 0 .5rem;
  width: 100%;
}

.input-2 {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: .9rem;
  padding: 8px 15px;
}

.form2-section {
  padding: 16px;
  font-size: .85rem;
  background-color: #e0ecfb;
  box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form2-section a {
  color: #2d79f3;
  transition: color .3s ease;
}

.form2-section a:hover {
  color: #2d79f3;
  text-decoration: underline;
}

.form-2 button {
  background-color: black;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 100;
  cursor: pointer;
  transition: background-color .3s ease;
}

.form-2 button:hover {
  background-color: #252727;
}


/* media query */
/* For large screens, bigger than 1280px */
@media screen and (min-width: 1281px) {
  .vcontainer {
      padding: 10vh;
  }
  .form {
      width: 500px;
      padding: 40px;
  }
  #codify {
      font-size: 12vh;
  }
  input#google-btn {
      width: 30rem;
  }
}

/* Styles for tablets and laptops (768px to 1440px wide) */
@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .login-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10vh;
      gap: 50px; /* Adjust the gap between the logo and the form */
  }

  #codify {
      font-size: 8vh;
      text-align: left;
  }

  .form {
      width: 400px;
  }

  .cylogo {
      margin-right: 50px; /* Gap between the logo and the form */
  }
}


/* For mobile devices, between 480px and 767px */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .vcontainer {
      padding: 5vh;
  }
  .form {
      width: 300px;
      padding: 20px;
  }
  #codify {
      font-size: 5vh;
  }
  input#google-btn {
      width: 20rem;
      font-size: 14px;
  }
}

/* For small mobile devices, less than 480px */
@media screen and (max-width: 479px) {
  .vcontainer {
      padding: 5vh;
  }
  .form {
      width: 100%;
      padding: 15px;
  }
  #codify {
      font-size: 5vh;
  }
  input#google-btn {
      width: 100%;
      font-size: 14px;
  }
  .login-container {
      flex-direction: column;
      padding: 10vh 0;
  }
}


      